types-setuptools==69.1.0.20240309
pylama-dmypy==0.4
pylama==8.4.1
neovim==0.3.1
tox==4.14.1
python-lsp-server==1.10.0
python-lsp-black==2.0.0
pylsp-mypy==0.6.8
mslex==1.1.0; sys.platform == 'win32'
isort==5.13.2
pyls-isort==0.2.2
hatch==1.9.3
mypy==1.9.0
jedi==0.19.1
